<div style="position: absolute; top: 0px; left: 0px; z-index:9990"><img src="https://imagizer.imageshack.com/img924/8593/y1xkWZ.png" height="1150px"></div>

<div style="position: absolute; top: 150px; left: 215px; z-index:9992"><img src="https://media.giphy.com/media/SwOra6Eihl4nklbvMG/giphy.gif" height="750px"></div>

<div style="position: absolute; top: 485px; left: 940px; z-index:9992"><img src="https://media.giphy.com/media/QU9nFopA6AlWpEXhwa/giphy.gif" height="300px"></div>

<div style="position: absolute; top: -30px; left: 0px; z-index:9993"><img src="https://imagizer.imageshack.com/img922/1628/8rLsUa.png" width="1660px"></div>

<div style="position: absolute; top: 550px; left: 0px; z-index:9993"><img src="https://imagizer.imageshack.com/img924/5453/K3XPEk.png" width="1660px"></div>

<div style="position: absolute; top: 410px; left: 548px; z-index:9993"><img src="https://imagizer.imageshack.com/v2/993x648q90/r/924/vCgqRW.png" width="480px"></div>

<div style="position: absolute; top: 460px; left: 1080px; z-index:9996"><a href="/~exoduswebbie"><img src="https://imagizer.imageshack.com/v2/492x150q90/r/923/HifCwL.png" width="200px"></a></div>

<div style="position: absolute; top: 528px; left: 1080px; z-index:9996"><a href="/~Dazepa"><img src="https://imagizer.imageshack.com/v2/492x150q90/r/923/oEeiZu.png" width="200px"></a></div>


<div style="position: absolute; width: 300px; height: 55px; left: 1190px; top:385px; overflow: auto; z-index: 9999;">

<a href="http://www.neopets.com/beauty/details.phtml?pet=Benmont_III"><img src="http://upload.neopets.com/beauty/images/Benmont_III-2021-03-26.jpg" width="31" height="31" border="2px"></a>


</div>

<div style="position: absolute; width: 538px; height: 345px; left: 1190px; top:336px; overflow: auto; z-index: 9994;">

<h2><a href="/neoboards/topic.phtml?topic=160998212">AC</a> ☘️ <a href="/neoboards/topic.phtml?topic=160992590">GC</a></h2>

</div>



<style>

body {font-family: verdana; text-align: justify; background-image: url('https://imagizer.imageshack.com/img922/3421/jFoYxG.png');  background-repeat: no-repeat; }

font {font-size: 13px; line-height: 15px; font-family: verdana; font-weight: 200;}

p {color: #000000; line-height:5px; font-size: 13px;}

b {color: #cc615f;}

u {color: #7d2c54;}

i {color: #FFFFFF; font-weight:600;}

h2 {font-size: 22px; line-height: 18px; font-family: verdana; font-weight: 600; color:#FFFFFF; margin-bottom:2px;}

h3 {font-size: 28px; line-height: 30px; font-family: verdana; font-weight: 600; color:#71c3de; background-color:#FFF; margin-bottom:6px;}

a:link, a:visited {color: #f0f68c;}

a:hover {color: #FFFFFF;}

#template_nav, #header, #footer, hr, .contentHeader, .contentModuleHeaderAlt, .sidebar, #ban, table table table table table {display: none;}

#n, td, table, #main {background: none; border: none; width: auto;}

table table table table { left: 97px; top: 285px; width: 175px; z-index: 1; opacity: 1.0; position: absolute;  z-index:9991;
  }
table table table table:hover {opacity: 1.0; transition: 0.3s;}

</style>